
:root {
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f4eded;
  background-color: #111214;
}

body {
  padding: 0 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(0, 191, 255);
}


ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  margin: 0 10px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}


img {
  height: 40%;
  width: 100%;
}

figcaption {
  font-style: italic;
}

.sections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sections section {
  width: 30%;
}

.sections h3 {
  color: rgb(0, 191, 255);
}

.sections p,
.sections blockquote {
  color: rgba(253, 249, 249, 0.985);
  text-align: justify;
  line-height: 2;
}